apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  name: random-generator-4
  annotations:
    scaler/state-peak-replicas: "5"
    scaler/state-bau-replicas: "2"
    scaler/state-default-replicas: "1"
  labels:
    deployment-config.name: random-generator-4
    scaler/opt-in: "true"
spec:
  replicas: 1
  selector:
    deployment-config.name: random-generator-4
  template:
    metadata:
      labels:
        deployment-config.name: random-generator-4
    spec:
      containers:
      - image: chriscmsoft/random-generator:latest
        imagePullPolicy: Always
        name: random-generator-4